.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/vcs.xml
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/modules.xml
.idea/gradle.xml
.idea/encodings.xml
gradlew
gradle/wrapper/gradle-wrapper.properties
*.jar
db/schema.mwb.bak
*.iml
.idea/compiler.xml
.idea/misc.xml
.idea/runConfigurations.xml
gradlew.bat
