<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcfly.pyl" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--ACTIVITIES-->
        <activity android:name=".playlists.SharedPlaylistActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--PROVIDERS-->
        <provider
            android:name="com.mcfly.pyl.sqlite.contentprovider.ContactContentProvider"
            android:authorities="com.mcfly.pyl.sqlite.contentprovider.ContactContentProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.mcfly.pyl.sqlite.contentprovider.PlaylistContentProvider"
            android:authorities="com.mcfly.pyl.sqlite.contentprovider.PlaylistContentProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.mcfly.pyl.sqlite.contentprovider.SongContentProvider"
            android:authorities="com.mcfly.pyl.sqlite.contentprovider.SongContentProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.mcfly.pyl.sqlite.contentprovider.CommentsContentProvider"
            android:authorities="com.mcfly.pyl.sqlite.contentprovider.CommentsContentProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.mcfly.pyl.sqlite.contentprovider.Contact_has_PlaylistContentProvider"
            android:authorities="com.mcfly.pyl.sqlite.contentprovider.Contact_has_PlaylistContentProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
